pre {
  background-color: #f7f7f7;
  border-radius: 5px;
  overflow-x: auto;
  margin: 0;
  height: 50px;
}

pre code {
  display: block;
}

button.btn-primary {
  margin-top: 10px;
}

.api-table {
  border-collapse: collapse;
}

.api-table th,
.api-table td {
  border-bottom: 1px solid #ddd; 
  padding: 8px;
}

.api-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.api-table td {
  text-align: left;
}
