<ul class="list-group list-group-flush py-3 h-100 bg-light border-end position-relative">
  <li class="list-group-item border-0">
    <a routerLink="/welcome" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Welcome
    </a>
  </li>

  <li class="list-group-item bg-light border-0 px-3 pt-4 pb-1 text-muted text-uppercase small">
    Essentials
  </li>

  <li class="list-group-item border-0">
    <a routerLink="/accordion" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Accordion
    </a>
  </li>
  <li class="list-group-item border-0">
    <a routerLink="/button" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Button
    </a>
  </li>
  <li class="list-group-item border-0">
    <a routerLink="/input" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Input
    </a>
  </li>
  <li class="list-group-item border-0">
    <a routerLink="/icon" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Icon
    </a>
  </li>

  <!-- Footer -->
  <li class="list-group-item border-0 position-sticky w-100 bg-light">
    <small class="text-muted">&#169; Shreesha Venkatram</small>
  </li>
</ul>
