<ul
  class="list-group list-group-flush py-3 h-100 position-relative sidebar-fixed-width sidebar"
  [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'"
>
  <li class="list-group-item border-0">
    <a routerLink="/welcome" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Welcome
    </a>
  </li>

  <li class="list-group-item border-0 px-3 pt-4 pb-1 text-muted text-uppercase small">
    Essentials
  </li>

  <li class="list-group-item border-0">
    <a routerLink="/button" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Button
    </a>
  </li>

  <li class="list-group-item border-0">
    <a routerLink="/icon" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Icon
    </a>
  </li>

  <li class="list-group-item border-0">
    <a routerLink="/inputtext" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Input text
    </a>
  </li>

  <li class="list-group-item border-0">
    <a routerLink="/textarea" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Text area
    </a>
  </li>

  <li class="list-group-item border-0">
    <a routerLink="/checkbox" routerLinkActive="active" class="nav-link fw-medium px-3 py-2">
      Checkbox
    </a>
  </li>

  <li class="list-group-item border-0 position-sticky w-100">
    <small class="text-muted">&#169; Shreesha Venkatram</small>
  </li>
</ul>
