/* styles.scss */
body {
  font-family: 'Inter', sans-serif; /* Apply Inter font to the entire body */
}

/* Optional: Apply Inter font to all elements */
* {
  font-family: 'Inter', sans-serif !important; /* This ensures the font applies everywhere */
}

/* Light theme (default) */
body.light-theme {
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark-theme {
  background-color: #333; /* Dark background */
  color: white;
}

/* You can also customize specific elements based on the theme */
.dark-theme .navbar {
  background-color: #333; /* Dark navbar */
}

.light-theme .navbar {
  background-color: #f8f9fa; /* Light navbar */
}

input::placeholder {
  color: #6c757d; // Light theme placeholder
  opacity: 1; // Ensures the color is fully visible
}

.dark-mode input::placeholder {
  color: #adb5bd; // Softer gray for dark mode
}

