::-webkit-scrollbar {
    display: none;
  }

  /* styles.scss or component SCSS */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.transition {
  transition: color 0.3s ease, transform 0.3s ease;
}

button .bi:hover {
  transform: rotate(15deg); /* Optional hover effect */
}

/* Add this if not already */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem !important;
  }

  .position-relative input[type="search"] {
    font-size: 0.875rem;
  }
}

